<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="tum_islemlerConnectionString" connectionString="Data Source=DESKTOP-ANEP5PM\SQLEXPRESS;Initial Catalog=tum_islemler;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages enableEventValidation="false" ></pages>
  </system.web>
</configuration>